<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <div>hello index</div>
</body>
<script>
    if(window.WebSocket != undefined){
        var connection = new WebSocket('ws://localhost:8899');
        connection.onopen = function () {
            setInterval(function () {
                connection.send('client');
            },3000)
        };
        connection.onmessage = handleMessage;
    }
    function handleMessage(msg) {
        console.log(msg.data);
    }
</script>
</html>